In [1]:
# from BuildData import BuildData
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt

conf = {'lag_day': 3,
        'lag_bin': 3,
        'lag_week': 1,
        'bin_num': 24,
        'file_dir': '../data/0308/'}

data = pd.read_csv('../data/0308/000046_XSHE_25_daily.csv')

In [8]:
data.iloc[:16, 3:].T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
bin_volume,55800.000000,510600.000000,369900.000000,196400.000000,108600.000000,178800.000000,459800.000000,105300.000000,281100.000000,199100.000000,366500.000000,86000.000000,104300.000000,105900.000000,284200.000000,483400.000000
volatility,1.587781,0.006800,0.005348,0.002947,0.004176,0.006295,0.005103,0.004983,0.004883,0.004452,0.004051,0.004660,0.004568,0.004129,0.006356,0.007302
quote_imbalance,-0.374887,-0.338315,0.053899,-0.343497,-0.452738,0.703575,0.367504,0.515188,-0.277889,0.079205,0.127748,0.123089,0.358033,0.616974,-0.315219,-0.773194