In [6]:
import pandas as pd
import numpy as np
import os
import networkx as nx
import matplotlib.pyplot as plt
import torch

torch.Size([9])

In [7]:
import os
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# 设置数据目录路径
path_dir = '../data/0308/0308-data/'
# 初始化MinMaxScaler对象
scaler = MinMaxScaler()

# 遍历目录中的所有文件
for filename in os.listdir(path_dir):
    # 拼接完整的文件路径
    file_path = os.path.join(path_dir, filename)
    # 确保是文件而不是文件夹
    if os.path.isfile(file_path):
        # 读取CSV文件
        data = pd.read_csv(file_path)
        # 选取除了第一列的所有数据
        data_use = data.iloc[:, 1:]
        # 正则化数据
        data_use_normalized = scaler.fit_transform(data_use)
        
        # 将正则化后的数据转换为DataFrame
        data_normalized_df = pd.DataFrame(data_use_normalized, columns=data_use.columns)
        
        # 将第一列（假设是索引或ID）添加回去
        data_normalized_df.insert(0, data.columns[0], data.iloc[:, 0])
        
        # 构建新的文件名，例如在原文件名后添加"_normalized"
        new_file_name = os.path.splitext(filename)[0] + "_normalized.csv"
        new_file_path = os.path.join(path_dir, new_file_name)
        
        # 将正则化后的数据写入新的CSV文件
        data_normalized_df.to_csv(new_file_path, index=False)
        print(f'Normalized data written to {new_file_path}')

Normalized data written to ../data/0308/0308-data/300263_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/000753_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/000951_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/002282_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/000046_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/603095_XSHG_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/300540_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/603359_XSHG_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/300343_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/300433_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/600622_XSHG_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/002882_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/300174_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/603053_XSHG_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/300133_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/002841_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/002679_XSHE_25_daily_normalized.csv
Normalized data written to ../data/0308/0308-data/000998_XSHE_25_daily_normalized.csv

In [156]:
bins

{'bin0': ['2021-03-07 15:00', '2021-03-08 09:30'],
 'bin1': ['2021-03-08 09:30', '2021-03-08 09:39'],
 'bin2': ['2021-03-08 09:39', '2021-03-08 09:48'],
 'bin3': ['2021-03-08 09:48', '2021-03-08 09:57'],
 'bin4': ['2021-03-08 09:57', '2021-03-08 10:06'],
 'bin5': ['2021-03-08 10:06', '2021-03-08 10:15'],
 'bin6': ['2021-03-08 10:15', '2021-03-08 10:24'],
 'bin7': ['2021-03-08 10:24', '2021-03-08 10:33'],
 'bin8': ['2021-03-08 10:33', '2021-03-08 10:42'],
 'bin9': ['2021-03-08 10:42', '2021-03-08 10:51'],
 'bin10': ['2021-03-08 10:51', '2021-03-08 11:30'],
 'bin11': ['2021-03-08 11:30', '2021-03-08 13:00'],
 'bin12': ['2021-03-08 13:00', '2021-03-08 13:09'],
 'bin13': ['2021-03-08 13:09', '2021-03-08 13:18'],
 'bin14': ['2021-03-08 13:18', '2021-03-08 13:27'],
 'bin15': ['2021-03-08 13:27', '2021-03-08 13:36'],
 'bin16': ['2021-03-08 13:36', '2021-03-08 13:45'],
 'bin17': ['2021-03-08 13:45', '2021-03-08 13:54'],
 'bin18': ['2021-03-08 13:54', '2021-03-08 14:03'],
 'bin19': ['2021-03-08 14:03', '2021-03-08 14:12'],
 'bin20': ['2021-03-08 14:12', '2021-03-08 14:21'],
 'bin21': ['2021-03-08 14:21', '2021-03-08 14:30'],
 'bin22': ['2021-03-08 14:30', '2021-03-08 14:39'],
 'bin23': ['2021-03-08 14:39', '2021-03-08 14:48'],
 'bin24': ['2021-03-08 14:48', '2021-03-08 15:00']}

In [23]:
from BuildData import BuildData

conf = {'lag_day': 3,
        'lag_bin': 3,
        'lag_week': 1,
        'bin_num': 24,
        'file_dir': '../data/0308/0308-data/',
        'comment_dir': '../data/0308/0308-number/'}

# inputs_df, output_list = BuildData(conf= conf).gen_input_output_data(file_path= '../data/0308/0308-data/000046_XSHE_25_daily.csv',
#                                                                      comment_path= '../data/0308/0308-number/000046_comment_sentiment.csv',
#                                                                      stock_info= None)

path = '../data/volume/0308/Input/000046_3_3_inputs.npy'
input_ = np.load('../data/volume/0308/Input/000046_3_3_inputs.npy', allow_pickle= True)
output_matrix = np.load(path.replace('inputs', 'output').replace('Input', 'Output'), allow_pickle= True)
input_matrix = np.array([value for item in input_ for value in item], dtype= np.float32).reshape(input_.shape[0], 13, 9)

In [1]:
import torch
import torch.nn as nn

In [26]:
x = torch.randn(10, 13, 9)
w = torch.randn(9, 12)
a = torch.randn(24, 13)
c = torch.eye(13, 13)

connection = [
    (1, 0),
    (9, 0), (12, 0), 
    (8, 9), (8, 12), (5, 9), (11, 12), 
    (4, 5), (4, 8), (7, 8), (7, 11), (10, 11),
    (3, 4), (3, 7), (6, 7), (6, 10), (2, 3), (2, 6)]
adj_matrix = torch.zeros(13, 13)
for source, target in connection:
    adj_matrix[source][target] = 1
h = torch.matmul(x, w)

connection_coord = {}
from_list, to_list = [t.item() for t in torch.where(adj_matrix>0)[0]],  [t.item() for t in torch.where(adj_matrix>0)[1]]
for pointA, pointB in zip(to_list, from_list):
    if pointA not in connection_coord:
        connection_coord[pointA] = [pointB]
    elif pointA in connection_coord:
        connection_coord[pointA].append(pointB)

In [27]:
connection_coord

{0: [1, 9, 12],
 3: [2],
 6: [2],
 4: [3],
 7: [3, 6],
 5: [4],
 8: [4, 7],
 9: [5, 8],
 10: [6],
 11: [7, 10],
 12: [8, 11]}

In [23]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
import os

scaler = StandardScaler()
df = pd.read_csv('../data/0308/0308-data/000046_XSHE_25_daily.csv')
for features in ['daily_volume', 'bin_volume', 'volatility','quote_imbalance']:
    df[features] = scaler.fit_transform(data[features].values.reshape(-1, 1))
df.head()

         date  daily_volume  bin_num  bin_volume  volatility  quote_imbalance
0  2020-05-13     -0.676033        0   -0.753171    5.044553        -0.928889
1  2020-05-13     -0.676033        1   -0.164080   -0.203702        -0.849043
2  2020-05-13     -0.676033        2   -0.346326   -0.208520         0.007255
3  2020-05-13     -0.676033        3   -0.571056   -0.216492        -0.860357
4  2020-05-13     -0.676033        4   -0.684781   -0.212412        -1.098856

In [24]:
os.listdir('../data/0308/0308-data/')

['002282_XSHE_25_daily_normalized.csv',
 '002882_XSHE_25_daily_normalized.csv',
 '000753_XSHE_25_daily_normalized.csv',
 '300133_XSHE_25_daily_normalized.csv',
 '600622_XSHG_25_daily_normalized.csv',
 '300540_XSHE_25_daily_normalized.csv',
 '300433_XSHE_25_daily.csv',
 '000951_XSHE_25_daily.csv',
 '000046_XSHE_25_daily.csv',
 '002679_XSHE_25_daily_normalized.csv',
 '000998_XSHE_25_daily.csv',
 '002679_XSHE_25_daily.csv',
 '300263_XSHE_25_daily.csv',
 '603359_XSHG_25_daily_normalized.csv',
 '300540_XSHE_25_daily.csv',
 '603053_XSHG_25_daily.csv',
 '600622_XSHG_25_daily.csv',
 '300174_XSHE_25_daily.csv',
 '603053_XSHG_25_daily_normalized.csv',
 '002841_XSHE_25_daily_normalized.csv',
 '603095_XSHG_25_daily_normalized.csv',
 '300174_XSHE_25_daily_normalized.csv',
 '002882_XSHE_25_daily.csv',
 '000753_XSHE_25_daily.csv',
 '000046_XSHE_25_daily_normalized.csv',
 '603359_XSHG_25_daily.csv',
 '300133_XSHE_25_daily.csv',
 '300343_XSHE_25_daily_normalized.csv',
 '300263_XSHE_25_daily_normalized.csv',
 '002282_XSHE_25_daily.csv',
 '002841_XSHE_25_daily.csv',
 '000998_XSHE_25_daily_normalized.csv',
 '300433_XSHE_25_daily_normalized.csv',
 '300343_XSHE_25_daily.csv',
 '603095_XSHG_25_daily.csv',
 '000951_XSHE_25_daily_normalized.csv']

In [2]:
import pandas as pd

data = pd.read_csv('../data/volume/0308/Features/000046_25_daily_f_all.csv')

In [20]:
data.iloc[5: 8, 1: 5]

,bin1,bin2,bin3,bin4
5,"[-0.7286, -0.4853, -0.4853, -0.1618, 0.0267, -...","[-0.7286, -0.2843, -0.7696, -0.2565, 0.0152, -...","[-0.7286, -0.5056, -1.2752, -0.4251, 0.0285, -...","[-0.7286, -0.6839, -1.9591, -0.4913, 0.0424, -..."
6,"[-0.0094, -0.3639, -0.3639, -0.1213, 0.0345, -...","[-0.0094, -0.3058, -0.6697, -0.2232, 0.0298, -...","[-0.0094, -0.4159, -1.0856, -0.3619, 0.0297, -...","[-0.0094, -0.3762, -1.4619, -0.366, 0.0301, 0...."
7,"[-1.0039, -0.4499, -0.4499, -0.15, 0.0738, 1.5...","[-1.0039, 0.0363, -0.4136, -0.1379, 0.0124, -0...","[-1.0039, 0.2816, -0.132, -0.044, -0.0055, -0....","[-1.0039, -0.494, -0.626, -0.0587, 0.0848, -0...."

In [42]:
for t in range(5, data.shape[0]):
    for m in range(4, data.shape[1]):
        # sub_matrix = data.iloc[(t- 3)+ 1: t+ 1, m- 3: m +2]
        sub_matrix = data.iloc[t-2: t+ 1, m-3: m+1]
        break
    break
sub_matrix

,bin1,bin2,bin3,bin4
3,"[-0.0381, -0.0519, -0.0519, -0.0173, -0.0292, ...","[-0.0381, 0.1828, 0.1309, 0.0436, 0.023, -0.34...","[-0.0381, -0.2728, -0.1419, -0.0473, 0.0444, -...","[-0.0381, -0.6236, -0.7655, -0.2379, 0.0317, -..."
4,"[-1.1514, -0.343, -0.343, -0.1143, -0.0375, -0...","[-1.1514, -0.4299, -0.7728, -0.2576, 0.0228, -...","[-1.1514, -0.1264, -0.8992, -0.2997, 0.03, -0....","[-1.1514, -0.0033, -0.9026, -0.1865, 0.0447, -..."
5,"[-0.7286, -0.4853, -0.4853, -0.1618, 0.0267, -...","[-0.7286, -0.2843, -0.7696, -0.2565, 0.0152, -...","[-0.7286, -0.5056, -1.2752, -0.4251, 0.0285, -...","[-0.7286, -0.6839, -1.9591, -0.4913, 0.0424, -..."

In [39]:
import numpy as np
np.load('../data/volume/0308/Input/000046_3_3_inputs.npy', allow_pickle=True)[0]

array([list([-1.0039, -0.494, -0.626, -0.0587, 0.0848, -0.6788, -0.2105, -1.0148, -1.0]),
       list([-1.0, -0.6848, -1.7662, -0.5341, 0.0262, -0.6848, -0.2124, -1.0989, 0.0]),
       list([-0.7286, -0.4853, -0.4853, -0.1618, 0.0267, -0.1641, -0.2099, 0.6759, 0.0]),
       list([-0.7286, -0.2843, -0.7696, -0.2565, 0.0152, -0.3463, -0.2083, -0.4348, 0.0]),
       list([-0.7286, -0.5056, -1.2752, -0.4251, 0.0285, -0.5711, -0.2092, 1.4978, 0.0]),
       list([-0.7286, -0.6839, -1.9591, -0.4913, 0.0424, -0.6848, -0.209, -0.7093, 0.0]),
       list([-0.0094, -0.3639, -0.3639, -0.1213, 0.0345, -0.5371, -0.2096, -1.1534, 0.0]),
       list([-0.0094, -0.3058, -0.6697, -0.2232, 0.0298, -0.3869, -0.2108, -0.9767, 0.0]),
       list([-0.0094, -0.4159, -1.0856, -0.3619, 0.0297, -0.5183, -0.2085, -0.8278, 0.0]),
       list([-0.0094, -0.3762, -1.4619, -0.366, 0.0301, 0.3645, -0.2101, 0.3153, 0.0]),
       list([-1.0039, -0.4499, -0.4499, -0.15, 0.0738, 1.5194, -0.201, 0.0266, 0.0]),
       list([-1.0039, 0.0363, -0.4136, -0.1379, 0.0124, -0.4838, -0.1937, -0.2084, 0.0]),
       list([-1.0039, 0.2816, -0.132, -0.044, -0.0055, -0.497, -0.2031, 0.4202, 1.0])],
      dtype=object)

In [46]:
def _gen_adj_matrix():
    connection = [
        (1, 0),
        (9, 0), (12, 0), 
        (8, 9), (8, 12), (5, 9), (11, 12), 
        (4, 5), (4, 8), (7, 8), (7, 11), (10, 11),
        (3, 4), (3, 7), (6, 7), (6, 10), (2, 3), (2, 6)]
    adj_matrix = np.zeros((13, 13))
    for source, target in connection:
        adj_matrix[source][target] = 1
    
    return adj_matrix

def gen_adjacency_matrix(stock_info):
    adjacency = _gen_adj_matrix()
    I = np.identity(adjacency.shape[0])
    I[-1, -1] = 0
    adjacency = adjacency + I
    D = np.diag(np.sum(adjacency, axis=1))
    D_inv_sqrt = np.linalg.inv(np.sqrt(D))
    L = np.dot(D_inv_sqrt, adjacency).dot(D_inv_sqrt)
    normalized_laplacian_version = L.copy()
    # np.save(f'data/volume/0308/{stock_info}_{lag_bin}_{lag_day}_graph_input.npy', normalized_laplacian_version)

    return normalized_laplacian_version

In [50]:
norm = gen_adjacency_matrix(stock_info= None)
adj = _gen_adj_matrix()

In [49]:
norm.shape

(13, 13)

In [51]:
adj.shape

(13, 13)

In [52]:
adj

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [53]:
norm

array([[1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.70710678, 0.5       , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.33333333, 0.33333333, 0.        ,
        0.        , 0.33333333, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.33333333, 0.33333333,
        0.        , 0.        , 0.33333333, 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.33333333,
        0.40824829, 0.        , 0.        , 0.33333333, 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5       , 0.        , 0.        , 0.        , 0.5       ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.33333333, 0.33333333, 0.        , 0.        ,
        0.40824829, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.33333333, 0.33333333, 0.        ,
        0.        , 0.40824829, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.33333333, 0.40824829,
        0.        , 0.        , 0.57735027],
       [0.70710678, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5       ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5       , 0.5       , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.5       , 0.70710678],
       [1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ]])